<h1>Hoşgeldiniz, <%- user  %>  </h1>
<h2>Odev</h2>

<form>
    <div class="form-row">
        <div class="col">Odeviniz</div>
        <div class="col">
            <h3> <%- homework  %>  </h3>
        </div>
    </div>
</form>