<!DOCTYPE html>
<html lang="en">
<head>
	<title>Homework</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="student/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="student/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="student/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="student/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="student/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="student/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="student/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="student/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="student/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="student/css/util.css">
	<link rel="stylesheet" type="text/css" href="student/css/main.css">
<!--===============================================================================================-->
</head>
<body>
    <%- body  %> 


    <!--===============================================================================================-->
	<script src="student/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script src="student/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
        <script src="student/vendor/bootstrap/js/popper.js"></script>
        <script src="student/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
        <script src="student/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
        <script src="student/vendor/daterangepicker/moment.min.js"></script>
        <script src="student/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
        <script src="student/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
        <script src="student/js/main.js"></script>
</body>
</html>